*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    margin: 150px auto;
    width: 1140px;
    text-align: center;
}

.main-container h1 {
    margin-bottom: 2rem;
}

.slider-container {
    background-color: blanchedalmond;
    display: flex;
    border: 1px solid #333;
    /* overflow: hidden; */
}

.slide {
    flex-basis: 33.3333%;
    min-width: 33.3333%;
    padding: 2rem;
    transition: all .5s ease-out;
}

.slide-content {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: royalblue;
}

.slider-controls {
    margin-top: 2rem;
}